<div class="content">

  <div style="display: flex; align-items: center; flex-direction: column;">
    <h2>Demo</h2>
    <p>You can use NgOverlayContainer with either a template, a component or just with a plain text.</p>
    <p>You can return data from the embedded component to the parent. Returned value from component:</p>
    <p>{{returnedValue}}</p>
    <div class="common-positions">
      <div class="section">
        <h3>Common positions</h3>
        <mat-radio-group [(ngModel)]="selectedCommonPosition"
                         (change)="updateCommonPosition()">
          <mat-radio-button *ngFor="let position of commonPositions"
                            [value]="position">{{position}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>


  <div class="card-container">
    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openTemplate(template)"
       #originTemplate>
      <span>A template </span>

      <ng-template #template
                   let-close="close">
        <div style="display: flex; flex-direction: column; height: 100%;">
          <div style="flex: 1;">
            <h2>This is a Template</h2>
            <div>This is an example with utilizing ng-template.</div>
          </div>
          <button mat-stroked-button
                  color="primary"
                  (click)="close({id: 2})">
            Close</button>
        </div>
      </ng-template>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openComponent()"
       #originComponent>
      <span>A component</span>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openText()"
       #originText>
      <span>Plain text</span>
    </a>
  </div>

  <div class="config-container">
    <div class="div1 section">
      <h3>Width</h3>
      <mat-radio-group [(ngModel)]="selectedWidth"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let width of widths"
                          [value]="width">{{width}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div2 section">
      <h3>Height</h3>
      <mat-radio-group [(ngModel)]="selectedHeight"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let height of heights"
                          [value]="height">{{height}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div3 section">
      <h3>OriginX</h3>
      <mat-radio-group [(ngModel)]="selectedOriginX"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let originX of originXs"
                          [value]="originX">{{originX}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div4 section">
      <h3>OriginY</h3>
      <mat-radio-group [(ngModel)]="selectedOriginY"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let originY of originYs"
                          [value]="originY">{{originY}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div5 section">
      <h3>OverlayX</h3>
      <mat-radio-group [(ngModel)]="selectedOverlayX"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let overlayX of overlayXs"
                          [value]="overlayX">{{overlayX}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div6 section">
      <h3>OverlayY</h3>
      <mat-radio-group [(ngModel)]="selectedOverlayY"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let overlayY of overlayYs"
                          [value]="overlayY">{{overlayY}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div7 section">
      <h3>OffsetX</h3>
      <mat-radio-group [(ngModel)]="selectedOffsetX"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let offsetX of offsetXs"
                          [value]="offsetX">{{offsetX}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div8 section">
      <h3>OffsetY</h3>
      <mat-radio-group [(ngModel)]="selectedOffsetY"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let offsetY of offsetYs"
                          [value]="offsetY">{{offsetY}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div9 section">
      <h3>HasBackdrop</h3>
      <mat-radio-group [(ngModel)]="selectedHasBackdrop"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let hasBackdrop of hasBackdrops"
                          [value]="hasBackdrop">{{hasBackdrop}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div10 section">
      <h3>BackdropClass</h3>
      <mat-radio-group [(ngModel)]="selectedBackdropClass"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let backdropClass of backdropClasses"
                          [value]="backdropClass">
          {{backdropClass}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="div11 section">
      <h3>UseGlobalPositionStrategy</h3>
      <mat-radio-group [(ngModel)]="selectedUseGlobalPositionStrategy"
                       (change)="updateConfig()">
        <mat-radio-button *ngFor="let useGlobal of useGlobalPositionStrategy"
                          [value]="useGlobal">
          {{useGlobal}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>