<div class="content">

  <div style="display: flex; align-items: center; flex-direction: column;">
    <h2>Demo</h2>
    <p>You can use NgOverlayContainer with either a template, a component or just with a plain text.</p>
    <p>You can return data from the embedded component to the parent. Returned value from component:</p>
    <p>{{returnedValue}}</p>
    <div class="common-positions">
      <div class="section">
        <h3>Common positions</h3>
        <mat-radio-group [(ngModel)]="selectedCommonPosition"
                         (change)="updateCommonPosition()">
          <mat-radio-button *ngFor="let position of commonPositions"
                            [value]="position">{{position}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>


  <div class="card-container">
    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openTemplate(template)"
       #originTemplate>
      <span>A template </span>

      <ng-template #template
                   let-data="data"
                   let-close="close">
        <div style="display: flex; flex-direction: column; height: 100%;">
          <div style="flex: 1;">
            <h2>This is a Template</h2>
            <div>This is an example with utilizing ng-template.</div>
            <div>This is data passed to the template: {{data}}</div>
          </div>
          <button mat-stroked-button
                  color="primary"
                  (click)="close({id: 2})">
            Close</button>
        </div>
      </ng-template>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openComponent()"
       #originComponent>
      <span>A component</span>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openText()"
       #originText>
      <span>Plain text</span>
    </a>
  </div>

  <div class="config-container">
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>Width</mat-label>
        <mat-select [(ngModel)]="selectedWidth"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let width of widths"
                      [value]="width">{{width}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>
        <mat-select [(ngModel)]="selectedHeight"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let height of heights"
                      [value]="height">{{height}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>MinWidth</mat-label>
        <mat-select [(ngModel)]="selectedMinWidth"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let width of minWidths"
                      [value]="width">{{width}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>MinHeight</mat-label>
        <mat-select [(ngModel)]="selectedMinHeight"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let height of minHeights"
                      [value]="height">{{height}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>MaxWidth</mat-label>
        <mat-select [(ngModel)]="selectedMaxWidth"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let maxWidth of maxWidths"
                      [value]="maxWidth">{{maxWidth}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>MaxHeight</mat-label>
        <mat-select [(ngModel)]="selectedMaxHeight"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let maxHeight of maxHeights"
                      [value]="maxHeight">{{maxHeight}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OriginX</mat-label>
        <mat-select [(ngModel)]="selectedOriginX"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let originX of originXs"
                      [value]="originX">{{originX}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OriginY</mat-label>
        <mat-select [(ngModel)]="selectedOriginY"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let originY of originYs"
                      [value]="originY">{{originY}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OverlayX</mat-label>
        <mat-select [(ngModel)]="selectedOverlayX"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let overlayX of overlayXs"
                      [value]="overlayX">{{overlayX}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OverlayY</mat-label>
        <mat-select [(ngModel)]="selectedOverlayY"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let overlayY of overlayYs"
                      [value]="overlayY">{{overlayY}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OffsetX in px</mat-label>
        <mat-select [(ngModel)]="selectedOffsetX"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let offsetX of offsetXs"
                      [value]="offsetX">{{offsetX}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OffsetY in px</mat-label>
        <mat-select [(ngModel)]="selectedOffsetY"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let offsetY of offsetYs"
                      [value]="offsetY">{{offsetY}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="config-container right">
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>HasBackdrop</mat-label>
        <mat-select [(ngModel)]="selectedHasBackdrop"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let hasBackdrop of hasBackdrops"
                      [value]="hasBackdrop">{{hasBackdrop}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>BackdropClass</mat-label>
        <mat-select [(ngModel)]="selectedBackdropClass"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let backdropClass of backdropClasses"
                      [value]="backdropClass">
            {{backdropClass}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>UseGlobalPositionStrategy</mat-label>
        <mat-select [(ngModel)]="selectedUseGlobalPositionStrategy"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let useGlobal of useGlobalPositionStrategy"
                      [value]="useGlobal">
            {{useGlobal}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>IsDraggable</mat-label>
        <mat-select [(ngModel)]="selectedIsDraggable"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let draggable of isDraggable"
                      [value]="draggable">{{draggable}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>IsResizable</mat-label>
        <mat-select [(ngModel)]="selectedIsResizable"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let resizable of isResizable"
                      [value]="resizable">{{resizable}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>DisableCloseOnBackdropClick</mat-label>
        <mat-select [(ngModel)]="selectedDisableBackdropClose"
                    (selectionChange)="updateConfig()">
          <mat-option *ngFor="let disable of disableBackdropClose"
                      [value]="disable">{{disable}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
