<div class="content">

  <div style="display: flex; align-items: center; flex-direction: column;">
    <h2>Demo</h2>
    <p>You can use NgOverlayContainer with either a template, a component or just with a plain text.</p>
    <p>You can return data from the embedded component to the parent. Returned value from component:</p>
    <p>{{returnedValue}}</p>
    <div class="common-positions">
      <div class="section">
        <h3>Common positions</h3>
        <mat-radio-group [(ngModel)]="selectedCommonPosition"
                         (change)="updateCommonPosition()">
          @for (position of commonPositions; track position) {
          <mat-radio-button [value]="position">{{position}}</mat-radio-button>
          }
        </mat-radio-group>
      </div>
    </div>
  </div>


  <div class="card-container">
    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openTemplate(template)"
       #originTemplate>
      <span>A template </span>

      <ng-template #template
                   let-data="data"
                   let-close="close">
        <div style="display: flex; flex-direction: column; height: 100%;">
          <div style="flex: 1;">
            <h2>This is a Template</h2>
            <div>This is an example with utilizing ng-template.</div>
            <div>This is data passed to the template: {{data}}</div>
          </div>
          <button mat-stroked-button
                  color="primary"
                  (click)="close({id: 2})">
            Close</button>
        </div>
      </ng-template>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openComponent()"
       #originComponent>
      <span>A component</span>
    </a>

    <a class="card"
       target="_blank"
       rel="noopener"
       (click)="openText()"
       #originText>
      <span>Plain text</span>
    </a>
  </div>

  <div class="config-container">
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>Width</mat-label>
        <mat-select [(ngModel)]="selectedWidth"
                    (selectionChange)="updateConfig()">
          @for (width of widths; track width) {
          <mat-option [value]="width">{{width}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>
        <mat-select [(ngModel)]="selectedHeight"
                    (selectionChange)="updateConfig()">
          @for (height of heights; track height) {
          <mat-option [value]="height">{{height}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>MinWidth</mat-label>
        <mat-select [(ngModel)]="selectedMinWidth"
                    (selectionChange)="updateConfig()">
          @for (width of minWidths; track width) {
          <mat-option [value]="width">{{width}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>MinHeight</mat-label>
        <mat-select [(ngModel)]="selectedMinHeight"
                    (selectionChange)="updateConfig()">
          @for (height of minHeights; track height) {
          <mat-option [value]="height">{{height}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="section">
    <mat-form-field appearance="outline">
      <mat-label>MaxWidth</mat-label>
      <mat-select [(ngModel)]="selectedMaxWidth"
        (selectionChange)="updateConfig()">
        <mat-option *ngFor="let maxWidth of maxWidths"
        [value]="maxWidth">{{maxWidth}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="section">
    <mat-form-field appearance="outline">
      <mat-label>MaxHeight</mat-label>
      <mat-select [(ngModel)]="selectedMaxHeight"
        (selectionChange)="updateConfig()">
        <mat-option *ngFor="let maxHeight of maxHeights"
        [value]="maxHeight">{{maxHeight}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OriginX</mat-label>
        <mat-select [(ngModel)]="selectedOriginX"
                    (selectionChange)="updateConfig()">
          @for (originX of originXs; track originX) {
          <mat-option [value]="originX">{{originX}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OriginY</mat-label>
        <mat-select [(ngModel)]="selectedOriginY"
                    (selectionChange)="updateConfig()">
          @for (originY of originYs; track originY) {
          <mat-option [value]="originY">{{originY}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OverlayX</mat-label>
        <mat-select [(ngModel)]="selectedOverlayX"
                    (selectionChange)="updateConfig()">
          @for (overlayX of overlayXs; track overlayX) {
          <mat-option [value]="overlayX">{{overlayX}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OverlayY</mat-label>
        <mat-select [(ngModel)]="selectedOverlayY"
                    (selectionChange)="updateConfig()">
          @for (overlayY of overlayYs; track overlayY) {
          <mat-option [value]="overlayY">{{overlayY}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OffsetX in px</mat-label>
        <mat-select [(ngModel)]="selectedOffsetX"
                    (selectionChange)="updateConfig()">
          @for (offsetX of offsetXs; track offsetX) {
          <mat-option [value]="offsetX">{{offsetX}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>OffsetY in px</mat-label>
        <mat-select [(ngModel)]="selectedOffsetY"
                    (selectionChange)="updateConfig()">
          @for (offsetY of offsetYs; track offsetY) {
          <mat-option [value]="offsetY">{{offsetY}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="config-container right">
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>HasBackdrop</mat-label>
        <mat-select [(ngModel)]="selectedHasBackdrop"
                    (selectionChange)="updateConfig()">
          @for (hasBackdrop of hasBackdrops; track hasBackdrop) {
          <mat-option [value]="hasBackdrop">{{hasBackdrop}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>BackdropClass</mat-label>
        <mat-select [(ngModel)]="selectedBackdropClass"
                    (selectionChange)="updateConfig()">
          @for (backdropClass of backdropClasses; track backdropClass) {
          <mat-option [value]="backdropClass">
            {{backdropClass}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>UseGlobalPositionStrategy</mat-label>
        <mat-select [(ngModel)]="selectedUseGlobalPositionStrategy"
                    (selectionChange)="updateConfig()">
          @for (useGlobal of useGlobalPositionStrategy; track useGlobal) {
          <mat-option [value]="useGlobal">
            {{useGlobal}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>IsDraggable</mat-label>
        <mat-select [(ngModel)]="selectedIsDraggable"
                    (selectionChange)="updateConfig()">
          @for (draggable of isDraggable; track draggable) {
          <mat-option [value]="draggable">{{draggable}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>IsResizable</mat-label>
        <mat-select [(ngModel)]="selectedIsResizable"
                    (selectionChange)="updateConfig()">
          @for (resizable of isResizable; track resizable) {
          <mat-option [value]="resizable">{{resizable}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="section">
      <mat-form-field appearance="outline">
        <mat-label>DisableCloseOnBackdropClick</mat-label>
        <mat-select [(ngModel)]="selectedDisableBackdropClose"
                    (selectionChange)="updateConfig()">
          @for (disable of disableBackdropClose; track disable) {
          <mat-option [value]="disable">{{disable}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
