
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  
  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #ffffff;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
  }
  
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
  
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }

  
/* Responsive Styles */
@media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link)
    {
      width: 100%;
    }
  
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  
    .card.highlight-card span {
      margin-left: 72px;
    }      
}

.config-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    mat-radio-group {
        display: flex;
        flex-direction: column;

        mat-radio-button {
            margin: 5px;
        }
    }    
}

.section {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }

  